<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
    {{content_for_header}}

    <!-- -----styles ------->
    <link rel="stylesheet" href=" {{'global.css' | asset_url }} ">
    <!-- -----styles -------->

  </head>

  <body>

    <a class="skip-to-content-link" href="#MainContent">
      {{ "accessibility.skip_to_text" | t }}
    </a>

    {%section 'header' %}
    <main id="MainContent" role="main" tabindex="-1">
      {{ content_for_layout }}
    </main>

    {%section 'main-footer' %}

   

    

    

  </body>
</html>
