<form action="{{ routes.cart_url }}" method="post">
  <div class="my-cart" >
    <h2>Cart</h2>
    
    {% for item in cart.items %}
      <div class="my-cart__item">
        <a href="{{ item.url }}">{{ item.title }}</a>
        <div>Price: {{ item.final_price | money }}</div>

        <div>
          Quantity:
        
          <input   min="1"  value="{{ item.quantity }}" name="updates[]" type="number"/>
         
        </div>
        

        <div>Total: <strong>{{ item.final_line_price | money }}</strong></div>
      </div>
    {% endfor %}

    <button type="submit" name="checkout">Checkout — {{ cart.total_price | money_with_currency }}</button>
  </div>
</form>